#abas{
	border: 1px solid green;

}

#abas ul{
	display: inline;
}

#abas ul li{
	display: inline-block;
	border: 1px solid blue;
	padding: 5px 10px;
	border-radius: 10px 10px 0 0;
}

.conteudo{
	border:1px solid red;
}
.conteudos{
	border: 1px solid blue;
}

.selecionado{
	background-color: blue;
}